---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Lora:400,500,600,700,800');


/* VARIABLES */
:root {
	--main-bg-color: #FFFFFF;
	--main-color: #232323;
	--bar-bg-color: #003362;
	--bar-color: #FFFFFF;
	--default-width: 750px;
}


/* TEXT & MAIN CONTENT */

* {-webkit-font-smoothing: antialiased;}

// Larger headers
h1, h2, h3 {
	margin:40px 0 20px;
	font-weight: 700;
	font-family: Lora;
}

// Smaller headers
h4, h5, h6 {
	margin: 24px 0 6px;
	font-weight: 700;
	font-family: Lora;
}

// Body text size, background color, text color
body {
	font-size: 15px;
	background-color: var(--main-bg-color);
	padding: 10px 0 0 0;
}

// Special indent paragraph, bio
p.indentbio {
	margin-left: 70px;
	margin-bottom: 2px;
	text-indent: -55px;
}

// Special indent paragraph, bio
p.indentteach {
	margin-left: 30px;
	margin-bottom: 2px;
	text-indent: -30px;
}

// Container for picture and bio
.profile {
	text-align: center;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 10px 50px 30px 40px; 
}
img {
	border-style: none;
}
.bio {
	align-items: center;
	justify-content: center;
	display: flex;
	margin: 0;
	flex-direction: row;
	margin: 30px 0 0 0;
}
.bio p {
	margin-bottom:10px;
}


// Spacing on bullet list
ul {
	margin-top: -1.3em;
	margin-left: 8px;
}

// h1 text size
h1 {
	font-size: 30px;
}

// h2 text size
h2 {
	font-size: 20px;
}

// h4 text size
h4 {
	font-size: 16px;
}

// Blockquote format
blockquote {
	margin-left: 15px;
	margin-bottom: 35px;
	margin-top: -12px;
	margin-right: 0px;
	padding: 0 0 0 15px;
	font-style: italic;
	border-left: 1px solid #ccc;
	line-height: 1.5em;
	font-size: 14px;
}

// Hyperlink color and font weight
a {
	color: var(--bar-bg-color);
	font-weight:400;
}

// Make normal bold same weight as hyperlinks
strong {
	font-weight:600;
}



/* SIDEBAR */

// h1 in sidebar text
h1.header {
	font-family: Lora;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.3em;
	border-bottom: none;
	margin-top: 0;
	margin-bottom: 25px;
	padding: 0;

	a {
		font-family: Lora;
		font-weight: 700;
	}
}

// body in sidebar text
p.header {
	font-family: Lora;
	font-weight: 700;
	font-size: 16px;
}

// buttons in sidebar spacing
header ul {
	padding: 15px 0 10px 0;
	margin: 0;
}


// Sidebar box
header {
	background-color: var(--bar-bg-color);
	color: var(--bar-color);
  	width:180px; // width of text, set manually if changing text
	border: 0;
	padding: 40px 75px 40px 75px;
	margin: 20px 25px 0 0;
}

// Footer
footer {
	width:220px;
	padding: 0px 0px 5px 20px;
}

// Footer text
footer p {
	margin: 0px;
	font-size:12px;
	line-height: 1.6em;
}

// Button color, width, height, text height, text color, text centering
// background: #ffbb00; background: #ced5eb; 
header li {
	list-style-type: none;
  	width:70px;
  	height:30px;
	line-height: 30px;
	text-align: center;
	padding: 0px 0px 0px 0px;
	background: #ced5eb; 
	-webkit-box-shadow: inset 0px 0px 0px 0 rgba(233,2,38, 1);
	box-shadow: inset 0px 0px 0px 0 rgba(233,2,38, 1);
	border-radius:04px;
  	border:1px solid #0D0D0D;
	margin: 0 60px 0 0;

}

// Button hover color
// background: #fad77f; background: #a5abbd; 
header li:hover {
	background: #e6ebfc; 
}

// Button padding, text color, text weight, clickable area height
a.buttons {
	background: no-repeat;
	font-weight: 700;
	text-shadow: rgba(0, 0, 0, 0.4) 0 0 0;
	padding: 0px 0px 0px 0px;
	height: 30px;
	display:block;
	color: var(--main-color);
}

// Button hover text color
a.buttons:hover {
	color: var(--main-color);
	text-decoration: none;
}

// Container for buttons
.buttons {
	border: 0;
	display: flex;
	justify-content: left;
	padding: 0;
	margin: 0;
	flex-direction: column;
}
.firstbutton {
	justify-content: center;
	display: flex;
	margin: 0;
	flex-direction: column;
}


/* SPACING MAIN */

// Width, alignment, padding of main content
section {
	width: var(--default-width);
	position:absolute;
	margin: auto;
	left: 400px;
	right: 0;
	top: 0;
	bottom: 0;
	padding-top:0px;
	padding-right:400px;
}


/* SPACING ALT */

// Stop resizing in landscape on mobile
html {
	-webkit-text-size-adjust: 100%;
}

// If narrower than (section left=400) + (section width=750) + (section padding right=100), reduce padding-right
@media print, screen and (max-width: 1550px) {
	section {
		padding-right:50px;
		margin: 0px 0px 0px 0px;
	}
}


// If narrower than (section left=400) + (section width=750) + (new section padding right=50) OR shorter than sidebar, put sidebar on top
@media print, screen and (max-width: 1200px), (max-height:535px)   {
	div.wrapper {
		width:auto;
		margin:0;
  	}

	header, section, footer {
		float:none;
		position:static;
	}

  	header {
		padding: 30px 0px 30px 0;
		padding-left: calc((100% - var(--default-width))*0.5);
		margin: 20px 100px 0 0;
		margin-right: calc((100% - var(--default-width))*0.5 - 50px);
		width: auto;
  	}

	footer {
		border-top: 1px solid #ccc;
		margin: auto;
		padding:5px 0 20px 0;
		width:var(--default-width);
	}

	p.headeralt{
		margin-top: 20px;
	}

	section {
    		padding:10px 100px 0px 100px;
    		margin:auto;
    		width:var(--default-width);
  	}

	header ul {
		margin-top: 10px;
	}	 

 	header a small {
    		display:inline;
  	}
  	
	header ul, header p.view{
    		position:static;
  	}
	
	.bio {
		margin: 40px 0 0 0;
	}
	
	.profile {
		padding: 0px 50px 20px 40px; 
	}

	header {
		height: auto;
	}

	.buttons {
		flex-direction: row;
	}

 	h1.header {
		margin-bottom: 10px;
  	}

  	p.header {
		margin-bottom: 5px;
  	}	 

}

// If narrower than (new section padding right=100) + (new section padding left=100) + (section width=750), shrink side paddings
@media print, screen and (max-width: 950px) {

  	footer {
		margin:auto;
		margin-top:20px;
  	}

 	section {
    		padding:10px 0 0 0;
		margin: auto;
  	}

  	header {
		margin-right: auto;
		width: 800px;
  	}
	 
}

// If narrower than (new header width) + (70 on left) + (20 on right) + (mystery 15px??), shrink header size 
@media print, screen and (max-width: 905px) {

 	header {
		margin-right: 20px;
		width: auto;
  	}

}

// If narrower than (new section padding right = 20) + (new section padding left = 20) + (section width = 750) + (mystery 15px??), auto width
@media print, screen and (max-width: 805px) {

 	section {
		padding: 10px 20px 20px 20px;
		width: auto;
 	}

 	
	header {
		padding-left: 20px;
		padding-right: 50px;
		width: auto;
  	}

	footer {
		margin:10px 20px 0px 20px;
		width: auto;
 	}

 	body {
   		word-wrap:break-word;
  	}
}

// At a certain point, change orientation of bio
@media print, screen and (max-width: 630px)  { 
	.bio {
  		flex-direction: column;
  	}
	
	.profile {
		padding: 0 0 20px 0; 
	}
	
	.bio p {
		margin-bottom:15px;
	}
}

// At a certain point, break up teaching evenly
@media print, screen and (min-width: 500px) {
	.rwd-break-teach {display: none;}
}


// If getting too too small, fixed width
@media print, screen and (max-width: 320px) {

  	section {
    		padding:20px 20px 10px 20px;
    		margin:0 0 30px;
    		width: 265px;
  	}

  	footer {
    		margin:5px 20px 0px 20px;
    		width: 265px;
 	}

  	header {
		margin-right: 20px;
		width: 190px;
  	}
}


// Print format
@media print {
	body {
    		font-size:11pt;
    		color:#000000;
  	}

  	section {
		margin-top: -30px;
  	}

  	blockquote {
		margin-bottom: 24px;
  	}

  	header {
    		color: var(--bar-bg-color);
    		background-color: var(--main-bg-color);
  	}

 	p.header {
  		margin: 0px 0px 10px 0px;
 	}

 	h1.header {
  		color: var(--bar-bg-color);
 		margin: 0px 0px 0px 0px;
 	}
}
