<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">Sarah Robinson</h1>
        <p class="header">PhD&nbsp;Candidate in&nbsp;Economics</p>
        <p class="header">University&nbsp;of&nbsp;California Santa&nbsp;Barbara</p>
        <ul>
          <li ><a class="buttons" href="./Robinson_CV.pdf">CV</a></li>
        </ul>
        {% if page.label!="home" %}
        <p class="header">  <a href="/"><img src="/assets/images/back.png" alt="" width="30" height="30" />&nbsp;&nbsp;Home</a></p>
        {% endif %}
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p style="font-size:12px;line-height: 1.6em;">&copy; Sarah Robinson 2020-2022 <br> <a href="/about">About this page</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
