<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if page.label=="home" %}
          <h1 class="header">Sarah Robinson</h1>
        {% endif %}
        {% if page.label!="home" %}
          <h1 class="header"> <a href="/">Sarah Robinson</a></h1>
        {% endif %}
        <p class="header">PhD&nbsp;Candidate in&nbsp;Economics</p>
        <p class="header">University&nbsp;of&nbsp;California Santa&nbsp;Barbara</p>
        
        <div class="buttons">
          <div class="firstbutton">
            <ul>
              {% if page.label=="home" %}
                <li ><a class="buttons" href="./Robinson_CV.pdf" target="_blank">CV</a></li>
              {% endif %}
              {% if page.label!="home" %}
                <li ><a class="buttons" href="../Robinson_CV.pdf" target="_blank">CV</a></li>
              {% endif %}
            </ul>
          </div>
          <ul>
          <!-- <li ><a class="buttons" href="./Robinson_CV.pdf">CV</a></li> -->
          </ul>
      </div>
      </header>

      <section>
        {{ content }}
        <br>
      </section>

      <footer>
        <p>&copy; Sarah Robinson 2020-2022 <br> <a href="/about">About this page</a></small></p>
      </footer>
    </div>
  </body>
</html>
